@font-face {
  font-family: "Roboto";
  src: local("Roboto Regular"), url("./Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Thin"), url("./Roboto/Roboto-Thin.ttf");
  font-weight: 100;
}
