<div class="relative flex min-h-screen w-screen flex-col p-8">
  <app-menu />

  <div class="my-auto">
    <h1 class="text-6xl font-thin">Fizjoterapia <br />uroginekologiczna</h1>
    <p class="mt-4 text-2xl uppercase">Małgorzata Leleń</p>
  </div>

  <div class="absolute inset-0 -z-10">
    <video autoplay class="h-full w-full object-cover" loop muted>
      <source src="./assets/video/hero-video-sea.mp4" />
    </video>

    <div class="absolute inset-0 bg-primary opacity-80"></div>
  </div>
</div>
