:host {
  a {
    display: block;
    position: relative;
    text-transform: uppercase;

    &::before {
      content: "";
      width: 0;
      height: 2px;
      background-color: white;
      position: absolute;
      left: 0;
      border-radius: 2px;
      bottom: -4px;
      transition: 300ms width ease-in;
    }

    &:hover {
      &::before {
        width: 75%;
      }
    }
  }
}
